<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.futuregenerations.helpinghands">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/pdf_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pdf_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.admin.AdminPaymentDetailsActivity"></activity>
        <activity android:name=".activities.users.MakePaymentActivity" />
        <activity android:name=".activities.users.OrganizationViewImagesActivity" />
        <activity android:name=".activities.users.OrganizationDetailsActivity" />
        <activity android:name=".activities.users.UserNotificationsActivity" />
        <activity android:name=".activities.users.UserThemeChangeActivity" />
        <activity android:name=".activities.admin.AdminThemeActivity" />
        <activity android:name=".activities.admin.AdminFeedbackActivity" />
        <activity android:name=".activities.admin.AdminGetFeedbackActivity" />
        <activity android:name=".activities.admin.AdminUserDetailsActivity" />
        <activity android:name=".activities.admin.AdminEditOrganizationsActivity" />
        <activity android:name=".activities.admin.AdminAddOrganizationsActivity" />
        <activity android:name=".activities.admin.AdminEditOrganizationCategoryActivity" />
        <activity android:name=".activities.admin.AdminEditSliderImageActivity" />
        <activity android:name=".activities.admin.AdminAddSliderImageActivity" />
        <activity android:name=".activities.admin.AdminSettingsActivity" />
        <activity android:name=".activities.admin.AdminAboutActivity" />
        <activity android:name=".activities.admin.AdminOrganizationsCategoryActivity" />
        <activity android:name=".activities.admin.AdminFeedbackUserActivity" />
        <activity android:name=".activities.admin.AdminPaymentsActivity" />
        <activity android:name=".activities.admin.AdminUsersActivity" />
        <activity android:name=".activities.admin.AdminSliderImageActivity" />
        <activity android:name=".activities.admin.AdminOrganizationsActivity" />
        <activity android:name=".activities.admin.AdminDashboardActivity" />
        <activity android:name=".activities.admin.AdminAddCategoryActivity" />
        <activity android:name=".activities.admin.AdminHomeActivity" />
        <activity android:name=".activities.admin.AdminLoginActivity" />
        <activity android:name=".activities.users.OrganizationsActivity" />
        <activity android:name=".activities.users.FeedbackActivity" />
        <activity android:name=".activities.users.AboutActivity" />
        <activity android:name=".activities.users.HistoryActivity" />
        <activity android:name=".activities.users.FavouritesActivity" />
        <activity android:name=".activities.users.OrganizationTypesActivity" />
        <activity
            android:name=".activities.users.HomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".activities.users.PaymentFailureActivity" />
        <activity android:name=".activities.users.PaymentSuccessActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="${applicationId}.provider"
            android:name=".GenericFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>