<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.onlyforfuture.helpinghands">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/donation_application_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.User.OrganisationDetailActivity"></activity>
        <activity
            android:name=".Activities.User.MakePaymentActivity"
            android:parentActivityName=".Activities.User.OrganizationsTypeActivity" />
        <activity android:name=".Activities.User.OrganizationViewImagesActivity" />
        <activity android:name=".Activities.User.NotificationActivity" />
        <activity
            android:name=".Activities.Admin.AdminFeedbackActivity"
            android:parentActivityName=".Activities.Admin.AdminHomeActivity" />
        <activity
            android:name=".Activities.Admin.AdminUserActivity"
            android:parentActivityName=".Activities.Admin.AdminHomeActivity" />
        <activity
            android:name=".Activities.Admin.AdminPaymentActivity"
            android:parentActivityName=".Activities.Admin.AdminHomeActivity" />
        <activity
            android:name=".Activities.Admin.AdminSliderImageActivity"
            android:parentActivityName=".Activities.Admin.AdminHomeActivity" />
        <activity
            android:name=".Activities.Admin.AdminOrganizationActivity"
            android:parentActivityName=".Activities.Admin.AdminHomeActivity" />
        <activity
            android:name=".Activities.Admin.AdminDashboardActivity"
            android:parentActivityName=".Activities.Admin.AdminHomeActivity" />
        <activity android:name=".Activities.Admin.AdminLoginActivity" />
        <activity
            android:name=".Activities.User.OrganisationDetailActivity"
            android:parentActivityName=".Activities.User.OrganizationsListActivity"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Activities.User.FavouritesActivity"
            android:parentActivityName=".Activities.User.HomeActivity" />
        <activity
            android:name=".Activities.User.ThemeActivity"
            android:parentActivityName=".Activities.User.HomeActivity" />
        <activity
            android:name=".Activities.User.OrganizationsListActivity"
            android:parentActivityName=".Activities.User.OrganizationsTypeActivity" />
        <activity android:name=".Activities.Admin.AdminHomeActivity" />
        <activity
            android:name=".Activities.User.OrganizationsTypeActivity"
            android:parentActivityName=".Activities.User.HomeActivity" />
        <activity
            android:name=".Activities.User.AboutActivity"
            android:parentActivityName=".Activities.User.HomeActivity" />
        <activity
            android:name=".Activities.User.FeedbackActivity"
            android:parentActivityName=".Activities.User.HomeActivity" />
        <activity android:name=".Activities.User.HomeActivity" />
        <activity android:name=".Activities.User.MainActivity" />
        <activity android:name=".Activities.User.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>